<% provide(:title, "Home") %>
<div class="row">
	<% if logged_in? %>
	<aside class="col-md-4" >

  		<%= render 'shared/for_logged_in' %>
  		<%= render  'shared/stats' %>
</aside>
<aside class="col-md-8 " >
	<h3>Microposts feed</h3>
	<%= render 'shared/feeds' %>
</aside>
<% else %>
	
	   <%= render 'shared/for_not_logged_in' %>
	
<% end %>
</div>
