<footer class="footer">
	<small>
		 Project by Ameer Hamza
	</small>
	<nav>
		<ul>
		<li><%= link_to 'Help', help_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><%= link_to 'News', 'https://www.google.com' %></li>
	</ul>
	</nav>
</footer>