<footer class="footer">
	<small>
		 <a href="guides.ruby.org">ruby on rails</a> by <a href="michaelhartl.com">michael hartl</a>
	</small>
	<nav>
		<ul>
		<li><%= link_to 'Help', help_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><%= link_to 'News', 'https://www.google.com' %></li>
	</ul>
	</nav>
</footer>